body{
    font-family:sans-serif,Arial, Helvetica, sans-serif;
    overflow:auto;
}
#top,li:first-child>a, li:first-child>a:hover{
    background-color:#4caf50;
    color:white;
}
.contenidor_intern{
    position:relative;
}
#top{
    padding:10px;
    margin:15px;
    font-size:14pt;
    line-height:30%;
    border-radius:7px;
}
li{
    list-style-type:none;
}
ul{
    padding:0px;
    margin:15px;
    float:left;
    margin-top:0px;
}
li>a{
    display:block;
    border:1px solid #d4d4d4;
    padding:7px;
    margin:10px;
    margin-left:0;
    width:150px;
    border-radius:4px;
    text-decoration:none;
    color:black;
    background-color:#f1f1f1;
    font-size:14pt;
}
li>a:hover{
    background-color:white;
}
a{
    color:black;
}
a:hover{
    text-decoration:none;
}

#sidebar{
    position:relative;
    background-color:#32a4e7;
    width:190px;
    height:360px;
    color:white;
    font-size:15pt;
    padding:10px;
    border-radius:5px;
    top:0;
    right:0;
    margin:15px;
    margin-top:0px;
    float:left;
}

footer{
    background-color:#f1f1f1;
    padding:10px;
    margin:15px;
    text-align:center;
    font-size:9pt;
    border:1px solid gray;
    border-radius:7px;
    float:left;
}

#main{
    width:840px;
    height:350px;
    float:left;
    font-size:15pt;
    padding:10px;
    margin:10px;
    padding-top:0px;
    margin-top:0px;
}