

/*Header*/
header img{
    display:block;
    width:100%;
    filter:brightness(50%);
    margin-top:-180px;
    margin-bottom:-10px;
}
header h1{
    text-align:center;
    padding:0px;
    margin:0px;
    margin-top:-430px;
    margin-left:-350px;
    width:700px;
    left:50%;

    position:absolute;
    font-size:60pt;
    color:white;
}

/*Barra lateral esquerre (menú)*/
*{
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
}
body{
    background: #f0f0f0;
    width:100%;
}
.content{
    width: 260px;
    margin: 50px;
}
#menu{
    box-shadow: none;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

.menu,.menu *{
    font-family:'Open Sans',sans-serif;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    outline:0
}
.menu{
    min-width:260px;
    float:left;
    position:relative;
    box-shadow:0 20px 50px #333
}
.menu .llistat_productes{
    width:100%;
    height:50px;
    padding-left:22px;
    float:left;
    line-height:50px;
    font-weight:600;
    color:#f0f0f0;
    background:#414956;
}
.menu ul{
    margin:0;
    padding:0;
    list-style:none
}
.menu ul li{
    width:100%;
    display:block;
    float:left;
    position:relative
}
.menu ul li a{
    width:100%;
    padding:14px 22px;
    float:left;
    text-decoration:none;
    color:#f0f0f0;
    font-size:13px;
    background:#414956;
    white-space:nowrap;
    position:relative;
    overflow:hidden;
}
.menu>ul>li:active>a,.menu>ul>li:hover>a{
    color:#fff;
    background:#2e333b;
}
.menu>ul>li>a{
    border:solid 1px #3b424d;
}
.menu ul li a i{
    width:34px;
    float:left;
    line-height:18px;
    font-size:16px;
    text-align:left;
}
.menu ul li .menu-label{
    min-width:20px;
    padding:1px 2px 1px 1px;
    position:absolute;
    right:18px;
    top:14px;
    font-size:11px;
    font-weight:800;
    color:#555;
    text-align:center;
    line-height:18px;
    background:#f0f0f0;
    border-radius:100%;
}


/*Targeta del producte*/
h3{
    margin:14px auto;
}

.card {
    width: 100%;
    height:497px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius:5px;
    background: #fff;
}

.inner-card {
    background: #fff;
    padding: 10px;
    border-radius: 5px
}

.heart {
    height: 35px;
    width: 35px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #beb4aa;
    border-radius: 50%;
    background-color: #eee
}

.btn:focus {
    color: #fff;
    background-color: #025ce2;
    border-color: #0257d5;
    box-shadow: none
}
.img-fluid.rounded{
    height:310px;
    display:block;
    margin-top:50px;
    width:100%;
}
.px-2.mt-3>button{
    width:100%;
    margin:3px;
}
#preu_producte{
    
    text-align:center;
}
/*Configuració general*/
.row{
    width:100%;
}
