body{
    font-family:sans-serif,Arial, Helvetica, sans-serif;
}
.informacio,.paragraf{
    font-size:15pt;
    margin:10px;
    padding:20px;
    padding-left:6%;
}
.informacio p{
    line-height:37px;
    display:block;
    width:75%;
    word-spacing:4px;
    letter-spacing:1px;
}
.paragraf p{
    line-height:normal;
    font-size:14pt;
    line-height:32px;
    letter-spacing:1px;
    width:70%;
}
.etiqueta{
    height:400px;
}
.pegatina,.imatge{
    position:relative;
    float:left;
}
.pegatina{
    font-size:15pt;
    width:400px;
    padding:35px;
    box-shadow:0px 0px 10px gray;
    margin:10px;
}
.pegatina p{
    font-size:14pt;
    line-height:28px;
    word-spacing:2px;
    padding-bottom:5px;
}
.pegatina a{
    font-size:13pt;
    letter-spacing:1px;
    display:block;
    border:1px solid #7C2855;
    background-color:#7C2855;
    color:white;
    padding:10px;
    text-align:center;
    margin:10px;
    width:270px;
    height:20px;
    text-decoration:none;
}

.etiqueta img,img{
    display:block;
    width:500px;
    height:300px;
    background-color:#555;
    margin:10px;
    padding:10px;
}
img{
    background-color:blue;
}

