body,#top,li>a,footer{
    font-family:sans-serif,Arial, Helvetica, sans-serif;
    background-color:#d14836;
}
#menu_bar,#main,#sidebar{
    position:relative;
}
#top{
    color:white;
    font-size:25pt;
    padding:10px;
    padding-top:0px;
    line-height:155%;
}
#top>p{
    line-height:120%;
}
.contenidor_intern,li>a:hover,li:nth-child(2)>a{
    background-color:white;
}
ul{
    background-color:white;
    width:200px;
    padding:10px;
}
li{
    list-style-type:none;
}
li>a:hover{
    background-color:white;
    color:#d14836;
}
#menu_bar li>a{
    font-size:14pt;
    display:block;
    width:150px;
    border: 1px solid #d14836;
    border-radius:20px;
    margin-bottom:10px;
    color:white;
    text-decoration:none;
    text-align:center;
    padding:5px;
}
#menu_bar{
    float:right;
}
#sidebar{
    background-color:#f6dad7;
    color:#d14836;
    padding:5px;
    margin:0px;
    font-size:13pt;
}
#main{
    padding:8px;
    width:1050px;
}
#main h1, #main h2, a, #main h3>p, #menu_bar li>a:hover,#menu_bar li:nth-child(2)>a{
    color:#d14836;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
footer{
    text-align:center;
    color:white;
    font-size:9pt;
    line-height:150%;
    margin:10px;
    padding:10px;
}