body{
    font: 100% Lucida Sans, Verdana;
    margin:20px;
    line-height:26px;
}
.contenidor_intern{
    position:relative;
    height:400px;
    overflow:auto;
}
#top{
    background-color:#4CAF50;
    padding:15px;
    margin:10px;
    border-radius:5px;
    color:white;
}
#menu_bar li{
    width:200px;
    float:left;
    padding-left:0px;
}
#main{
    padding:10px;
    margin: 0 210px;
    padding-top:0px;
}
#sidebar{
    background-color:#32a4e7;
    color:#fff;
    padding:10px;
    position:absolute;
    bottom:0;
    top:0;
    right:0;
    width:180px;
    border-radius:10px;
}
#bottom{
    border: 1px solid gray;
    background-color:rgb(196, 196, 196);
    text-align: center;
    padding:10px;
    font-size:70%;
    line-height:14px;
    font-size:10pt;
    margin-top:20px;
}
#top h1, #top p, #menu_bar{
    margin:0;
    padding:0;
}
li a:hover{
    text-decoration:none;
    background-color:white;
}
li{
    list-style-type:none;
    padding-left:0px;
    margin-left:0px;
    margin:10px;
    width:200px;
}
ul,li, li>a, #menu_bar{
    width:150px;
    padding-left:0px;
}
li>a{
    border: 1px solid gray;
    border-radius:7px;
    padding:10px;
    background-color:rgb(196, 196, 196);
    margin:20px;
    margin-left:0px;
    padding-left:0px;
    width:150px;
    text-decoration:none;
    color:black;
}
li>a:hover{
    background-color:white;
}
li{
    width:200px;
}